<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - {{site.title}}</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    {{> header}}
    
    <main>
        <h1> About {{site.title}}</h1>
        <p>This is the about page for {{site.title}}.</p>
        <p>Created by {{site.author}}.</p>
    </main>
    
    {{> footer}}
    
    <script src="main.js"></script>
</body>
</html>
