/* Clovie Documentation Styles */
@font-face {
  font-family: "Monorama";
  src: url("https://db.onlinewebfonts.com/t/0d2fc67532a7c000fa3b6d66f0a70103.eot");
  src: url("https://db.onlinewebfonts.com/t/0d2fc67532a7c000fa3b6d66f0a70103.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/0d2fc67532a7c000fa3b6d66f0a70103.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/0d2fc67532a7c000fa3b6d66f0a70103.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/0d2fc67532a7c000fa3b6d66f0a70103.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/0d2fc67532a7c000fa3b6d66f0a70103.svg#Monorama")format("svg");
}

:root {

}

.nav {
  @media (max-width: 1100px) {
    display: none;
  }
}

.main, .header {
  max-width: 600px;
  margin: 0 auto;
}

.header {
  // border: 2px solid black;
  padding-top: 10rem;

  &-title {
    font-family: "Monorama";
    padding: 1rem;
    background-color: #000;
    color: #fff;
    display: inline-block;
    letter-spacing: -0.05em;

  }
}

.is-active {
  color: red;
}

.codeBlock {
  box-shadow:  .25rem .25rem black;
  
  &-code {
    border: 2px solid black;
    position: relative;

    &-copy {
      position: relative;
      display: inline-block;
      padding: .15rem;
      margin: -0.15rem;

      &:after {
        content: attr(data-copy-text);
        visibility: hidden;
        margin-left: .5rem;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(100%, -50%) translateX(.5rem);
      }

      &:hover {
        cursor: pointer;
        background-color: #f0f0f0;

        &:after {
          visibility: visible;
        }
      } 
    }
  }

  &-header {
    border: 2px solid black;
    border-bottom: none;

    &-title {
      display: inline-block;
      padding: .25rem .5rem ;
      margin: -0.25rem -0.5rem;
      background-color: #fff;
    }
  }
}

.link {
  &-backToTop {
    color: black;
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 2px;
    font-weight: bold;
    text-underline-offset: 5px;
  }

  &-nav {
    text-decoration: none;
    color: black;
  }
}

.commentBlock {
  border: 1px solid black;
  border-left: 2rem solid black;
}

// ASCII Pattern: Forward Slashes in Grid
.pattern-slash-grid {
  background-image: 
    linear-gradient(45deg, transparent 0%, transparent 10px, gray 10.5px, gray 11px, transparent 11.5px, transparent 48px);
  background-size: 32px 32px;
}

// ASCII Pattern: Dot Grid
.pattern-dot-grid {
  background-image: 
    radial-gradient(circle, #ccc 1px, transparent 1px);
  background-size: .5rem .5rem;
}